DB_HOST=localhost
DB_PORT=3306
DB_NAME=pets
DB_USER=root
DB_PASSWORD=root

ACCESS_SECRET=a_secret
REFRESH_SECRET=r_secret

OAUTH_GOOGLE_CLIENT_ID=fasdfafgdfsdfgdgsdfga
OAUTH_GOOGLE_CLIENT_SECRET=agsdfasdfasdfasdgadfasdf
OAUTH_GOOGLE_URL=auth/google

S3_REGION=region
S3_ACCESS_KEY=access_key
S3_SECRET_ACCESS_KEY=secret_access_key
S3_ENDPOINT=endpoint
S3_BUCKET_NAME=bucket_name

MAILER_LOGIN=your_mail@gmail.com
MAILER_APP_PASSWORD=abcd efgh ijkl mnop

PROJECT_NAME=project_name
PROJECT_EMAIL=your_mail@gmail.com

SCAN_REDIRECT_URL=https://localhost
ALLOWED_ORIGINS=https://domen1.com;https://domen2.com;http://domen3.com
