DB_HOST=localhost
DB_PORT=3306
DB_NAME=pets
DB_USER=root
DB_PASSWORD=root
DB_CONNECTION_TIMEOUT=30000

ACCESS_SECRET=a_secret
REFRESH_SECRET=r_secret

OAUTH_GOOGLE_CLIENT_ID=fasdfafgdfsdfgdgsdfga
OAUTH_GOOGLE_CLIENT_SECRET=agsdfasdfasdfasdgadfasdf
OAUTH_GOOGLE_URL=auth/google

GOOGLE_APPLICATION_CREDENTIALS=./secret/google-service-account.json
GOOGLE_BUCKET_NAME=bucket_name

MAILER_LOGIN=your_mail@gmail.com
MAILER_APP_PASSWORD=abcd efgh ijkl mnop

ALLOWED_ORIGINS=https://domen1.com;https://domen2.com;http://domen3.com

PROJECT_NAME=project_name
PROJECT_EMAIL=your_mail@gmail.com
